@import url(".cache/wal/colors-waybar.css");

window {
    margin: 5px;
    border-radius: 5px;
    font-family: 'Fira Code', "Symbols Nerd Font Mono";
    background-color: @background;
    border-radius: 20px;
}

#outer-box {
    margin: 10px;
}

#input {
    margin: 5px;
    background-color: @background;
    border-radius: 5px;
}

#inner-box {
    margin: 0px;
    border-radius: 5px;
    background-color: @background;
}

#scroll {
    margin: 5px;
    border-radius: 5px;
}

#text {
    margin: 2px;
    border: none;
    color: @color15;
}i

#entry {
    border: none;
    border-radius: 5px;
}


#entry:selected {
    background-color: @color13;
    outline: none;
}
